In [1]:
import pandas as pd 
import numpy as np

In [7]:
import matplotlib.pyplot as plt 

from sklearn.model_selection import train_test_split as tts

from sklearn.tree import DecisionTreeClassifier 

from sklearn.metrics import accuracy_score 
from sklearn.model_selection import cross_val_score 

from sklearn.preprocessing import KBinsDiscretizer 
from sklearn.compose import ColumnTransformer

In [8]:
df = pd.read_csv('train.csv', usecols=['Age','Fare', 'Survived'])

df.dropna(inplace=True)

In [9]:
df.shape

(714, 3)

In [10]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [11]:
X = df.iloc[:,1:]
y = df.iloc[:,0]

In [13]:
X_train,X_test,y_train,y_test = tts(X,y,test_size=0.2,random_state=42)

In [14]:
X_train.head(2)

      Age     Fare
328  31.0  20.5250
73   26.0  14.4542

In [15]:
clf =DecisionTreeClassifier()

In [16]:
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

In [17]:
accuracy_score(y_test,y_pred)

0.6433566433566433

In [18]:
np.mean(cross_val_score(DecisionTreeClassifier(),X,y,cv=10,scoring='accuracy'))

np.float64(0.6387128325508606)

In [19]:
kbin_age = KBinsDiscretizer(n_bins=5,encode='ordinal',strategy='kmeans')
kbin_fare = KBinsDiscretizer(n_bins=5,encode='ordinal',strategy='kmeans')

In [20]:
trf = ColumnTransformer([
    ('first', kbin_age,[0]),
    ('second',kbin_fare,[1])
])

In [21]:
X_train_trf = trf.fit_transform(X_train)
X_test_trf = trf.fit_transform(X_test)

In [22]:
trf.named_transformers_['first'].n_bins_

array([5])

In [26]:
trf.named_transformers_['first'].bin_edges_

array([array([ 1.        , 13.54505632, 25.49492263, 36.14664502, 48.33333333,
              62.        ])                                                   ],
      dtype=object)

In [ ]:
output = pd.DataFrame({
    'age':X_train['Age'], 
    'age_trf':X_train_trf[:,0],
    'fare':X_train['Fare'],
    'fare_trf':X_train_trf[:,1]
})